<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>인구 밀집도 시각화 지도</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9r182l0ts4"
    ></script>
  </head>
  <body>
    <div id="navbar">인구 밀집도 시각화 지도</div>
    <div id="infoBox">
      <div id="infoTitle">현재날짜</div>
      <div id="infoContent">2023.01.xx</div>
    </div>
    <div id="map" style="width: 100%; height: 90vh"></div>

    <script type="text/javascript" src="/data/data.js"></script>
    <script>
      var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 10,
      };

      var map = new naver.maps.Map("map", mapOptions);

      var circleList = [];
      var infowindowList = [];

      for (var i in data) {
        var target = data[i];
        var latlng = new naver.maps.LatLng(target.lat, target.lng);

        var circle = new naver.maps.Circle({
          map: map,
          center: latlng,
          radius: 100,
          strokeColor: "#5347AA",
          strokeOpacity: 0.5,
          strokeWeight: 2,
          fillColor: "#008000",
          fillOpacity: 0.3,
        });

        if (target.mount == 1) {
          circle.setOptions({
            radius: 1,
            fillColor: "#008000",
          });
        } else if (target.mount < 500 && target.mount > 1) {
          circle.setOptions({
            radius: 100,
            fillColor: "#008000",
          });
        } else if (target.mount < 10000 && target.mount >= 500) {
          circle.setOptions({
            radius: 500,
            fillColor: "#FFFF00",
          });
        } else if (target.mount >= 10000) {
          circle.setOptions({
            radius: 1000,
            fillColor: "#E51D1A",
          });
        }

        var content = `<div class='infowindow_wrap'>
          <div class='infowindow_title'>${target.title}</div>
          <div class='infowindow_content'>${target.content}</div>
          <div class='infowindow_mount'>${target.mount}</div>
          </div>`;

        var infowindow = new naver.maps.InfoWindow({
          content: content,
          backgroundcolor: "#00ff0000",
          borderColor: "#00ff0000",
          anchorSize: new naver.maps.Size(0, 0),
        });

        circleList.push(circle);
        console.log(circleList.length);
        infowindowList.push(infowindow);
      }

      for (var i = 0; i < circleList.length; i++) {
        naver.maps.Event.addListener(
          circleList[i],
          "click",
          getClickHandler(i)
        );
      }

      function getClickHandler(i) {
        return function () {
          console.log("hello");
          var circle = circleList[i];
          circle.setOptions({
            radius: 100,
          });
          var infowindow = infowindowList[i];
          if (infowindow.getMap()) {
            infowindow.close();
          } else {
            infowindow.open(map, circle);
          }
        };
      }
    </script>
  </body>
</html>
