<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>인구 밀집도 시각화 지도</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9r182l0ts4"
    ></script>
  </head>
  <body>
    <div id="navbar">인구 밀집도 시각화 지도</div>
    <div id="infoBox">
      <div id="infoTitle">현재날짜</div>
      <div id="infoContent">2023.01.05</div>
    </div>
    <div id="map" style="width: 100%; height: 90vh"></div>

    <script type="text/javascript" src="/data/data.js"></script>
    <script>
      var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 10,
      };

      var map = new naver.maps.Map("map", mapOptions);

      var inforwindowList = [];

      for (var i in data) {
        var target = data[i];
        var latlng = new naver.maps.LatLng(target.lat, target.lng);
        var circle = new naver.maps.Circle({
          map: map,
          center: latlng,
          radius: 500,

          strokeColor: "#5347AA",
          strokeOpacity: 0.5,
          strokeWeight: 2,
          fillColor: "#E51D1A",
          fillOpacity: 0.3,
        });
      }
    </script>
  </body>
</html>
