body {
  padding: 0px !important;
  margin: 0px !important;
}

#navbar {
  height: 50px;
  width: 100%;
  background: rgb(8, 207, 243);
  color: black;
  font-weight: bolder;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infoBox {
  position: absolute;
  top: 100px;
  z-index: 10000;
  left: 20px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
}

#infoTitle {
  font-size: 15px;
  font-weight: bolder;
}

.marker {
  border: 1px solid black;
  background: green;
  opacity: 0.8;
  z-index: 10000;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
